# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment
venv/
env/
.venv/

# Playwright-related files
playwright/.cache/
playwright-report/
traces/
screenshots/
videos/

# Test reports
reports/
*.html
*.xml
*.json
allure-results/
allure-report/

# IDE-specific files
.idea/
.vscode/
*.swp

# Logs and temporary files
*.log
*.tmp
*.bak
*.swp
*.swo

# OS-specific files
.DS_Store
Thumbs.db

# Python egg files
*.egg
*.egg-info/
dist/
build/

# Pipenv and Poetry
Pipfile
Pipfile.lock
poetry.lock

# pytest cache
.cache/

# Coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment variables
.env
.env.*